<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <style>
    body {
      background-image: url("static/images/contact_us_image.jpg");
      background-size: cover;
    }
    body {color : rgb(255, 145, 0)}
  </style>
</head>
<body>
    
  <h1>Contact us, we 'll be happy to talk with you!</h1>



  <form action="/thanks" method="post">
    <div>
      <label for="username">name:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="email">email:</label>
      <input type="text" id="email" name="email" required<h3>**You will receive a copy of your message at your email address!</h3>
    </div>
    <div>
      <label for="message">message:</label>
      <input type="text" style="width: 150px; height: 150px;" id="message"
             name="message" required>
    </div>
    
    <div>
      
      <input type="submit" value="send" >
    </div>
  </form>



</body>
</html>