<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You!</title>
    <style>
    body {
      background-image: url("static/images/thank_you_image.jpg");
      background-size: cover;

    }
    body {color : rgb(24, 41, 39)}
     h1 {
      font-size: 500%;
    }
  </style>
</head>
<body>
    <h1>Thanks, we 'll email you soon!</h1>
    <h2>(Check your inbox)</h2>
    <a href="https://rick-and-morty-only-for-learning.onrender.com/" >
      <button>Back to main Page</button>
</body>

</html>